.infomessage {
    -fx-background-color: #dddddd;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 5px;
    background-color: #dddddd;
    padding: 5px;
    background-radius: 10;
    border-radius: 10;
}

.infomessageHeader {
    -fx-font: 10px Times-Roman;
    -fx-text-fill: darkblue;
    font-size: 10px;
    font-family: Times-Roman;
    color: darkblue;
}

.infomessageLine {
    -fx-font-size: 12px;
    -fx-text-fill: #444444;
    font-size: 12px;
    color: #444444;
    /*-fx-background-color: #CCCCCC;*/t
    /*-fx-border-color: #FF0000;*/
    /*-fx-border-width: 1px;*/
    /*-fx-border-style: solid;*/

    -fx-padding: 0 0 0 40;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-border-width: 0px;
}

.textInfoLabel {
    -fx-font: 10px Times-Roman;
    -fx-text-fill: darkblue;
}

.textInfoText {
    -fx-background-color: #dddddd;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 5px;
}

.regularNick {
    color: #00008B;
    font-size: 13px;
    font-weight: bold;
    vertical-align: top;
}
.regularMessage {

}
.timestamp {
    font-family: verdana;
    font-size: 10px;
    color: lightgrey;
    vertical-align: top;
}
